@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');



body {
  font-family: 'Permanent Marker', cursive;
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background: #0a192b;
  color: #fff;
}